/* Start sizes in px */
/* body {
  height: 100vh;
  margin: 0;
} */

.flagContainer {
  /* height: 8%; */
  /* width: 13%; */
  /* height: 20vh;
  width: 36vh; */

  /* Outer most things and proportional elements should use vh, vmin */
  height: 20vmin;
  width: 36vmin;
  background-color: pink;
  border: 1px solid black;
}

/* Indonesia */
#indonesia > .section {
  height: 50%;
}

/* Colombia */

#colombia .section, #colombia .sub_section{
  height: 50%;
}

/* Ireland */

#ireland {
  display: flex;
  background-color: white;
}

#ireland > .thirdFlagSection{
  width: 100%;

}

#ireland > .thirdFlagSection:nth-child(1){
  background-color: green;
}

#ireland > .thirdFlagSection:nth-child(3){
  background-color: orange;
}

/* France */

#france {
  font-size: 0px;
}
#france .fourthFlagSection {
  display: inline-block;
  height: 100%;
  width: 33.33%;
}

/* Benin */

#benin .fifthFlagSection {
  height: 100%;
}

#benin .fifthFlagSection:nth-child(2){
  width: 60.66%;
  float: right;
}

#benin .fifthFlagSection:nth-child(1){
  width: 39.33%;
  float: left;
}

.fifthFlagSub {
  height: 50%;
}

/* Sweden */

#sweden {
  position: relative;
}

.sixthFlagSectionA, .sixthFlagSectionB {
  position: absolute;
}

.sixthFlagSectionA {
  height: 100%;
  width: 12%;
  left: 27%;
}

.sixthFlagSectionB {
  top: 40%;
  height: 20%;
  width: 100%;
}

/* Switzerland */
  #switzerland {
    width: 20vmin;
  }

  .crossContainer {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 40%;
    padding-top: 20%;
  }

  .seventhFlagSectionA {
    height: 57%;
    width: 20%;
  }

  .seventhFlagSectionB {
    position: absolute;
    height: 16%;
    width: 46%;
    top: 32%;
    left: 12%;
  }
/* Tonga */
.eighthFlagSection {
  height: 100%;
  width: 100%;
  background-color: red;
}

.tongaInnerContainer {
  position: relative;
  background-color: white;
  height: 50%;
  width: 40%;
}

.eighthFlagSectionA {
  position: absolute;
  height: 67%;
  width: 20%;
  top: 16%;
  left: 38%;
}

.eighthFlagSectionB {
  position: absolute;
  height: 24%;
  width: 50%;
  top: 37%;
  left: 23%;
}
/* Japan */
.ninthFlagSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.risingSun {
  height: 62%;
  width: 36%;
  border-radius: 50%;
}
/* Canada */
.tenthFlagSection {
  height: 100%;
}

.canadaWhiteStripe {
  height: 100%;
  width: 46%;
  position: relative;
  left: 50%;
  transform: translate(-50%);

}
 .leaf {
  height: 77%;
  width: 94%;
  position: absolute;
  top: 50%;
  left: 50%;
  content: url('./assets/images/canada_logo.png');
  transform: rotateZ(27deg) translate(-68%, -20%);

 }

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */



/* Colors */

.redBackground {
  background-color: red;
}

.whiteBackground {
  background-color: white;
}

.yellowBackground {
  background-color: rgb(247, 226, 33);
}

.blueBackground {
  background-color: rgb(0, 0, 120);
}

.greenBackground {
  background-color: rgb(0, 85, 0);
}

.lightBlueBackground {
  background-color: rgb(68, 111, 240);
}
